<div class="folder-menu">
  <div class="title">
    <h1><%= @folder.name %></h1>
  </div>
  <%= form_tag("/folders/#{@folder.id}/createBook") do %>
    <%= react_component("CreateBook", {name: "本を追加する", folder: @folder})%>
  <% end %>
  <%= form_tag("/folders/#{@folder.id}/updateFolder", id: "updateFolder_#{@folder.id}") do %>
  <% end %>
  <%= form_tag("/folders/#{@folder.id}/deleteFolder", id: "deleteFolder_#{@folder.id}") do %>
  <% end %>
    <%= react_component(
      "FolderManager",
      {name: @folder.name,
      created_at: @folder.created_at.strftime("%m月%d日 %H時%M分"),
      folderId: @folder.id,
      value: "Folder"}
    )%>
</div>
<div class="books-table">
  <table>
    <thead>
      <tr>
        <th class="name">名前</th>
        <th class="c_day">出来日</th>
        <th class="i_day">入荷日</th>
        <th class="amount">入荷数</th>
        <th class="orders">予約数</th>
      </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
      　<td class="name-value">
          <%= form_tag("/folders/#{book.id}/updateBook", id: "updateBook_#{book.id}") do %>
          <% end %>
          <%= form_tag("/folders/#{book.id}/deleteBook", id: "deleteBook_#{book.id}") do %>
          <% end %>
            <%= react_component("BookManager", {
              folder_name: @folder.name,
              name: book.name,
              c_day: book.c_day,
              i_day: book.i_day,
              amount: book.amount,
              bookId: book.id,
              value: "Book"
            })%>

        </td>
        <td class="c_day-value">
          <%= book.c_day.strftime("%m/%d") %>
        </td>
        <td class="i_day-value">
          <%= book.i_day.strftime("%m/%d") %>
        </td>
        <td class="amount-value">
          <% if book.amount %>
            <%= book.amount %>
          <% else %>
            未定
          <% end %>
        </td>
        <td class="orders-value">
          <%= Order.where(book_id: book.id).count %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
