<div class="folder-menu">
  <div class="title">
    <h1><%= @folder.name %></h1>
  </div>
  <%= form_tag("/folders/createBook") do %>
    <%= react_component("CreateBook", {name: "本を追加する", folder_name: @folder.name})%>
  <% end %>
</div>
<div class="folder-table">
  <table>
    <thead>
      <tr>
        <th class="name">名前</th>
        <th class="date">最終更新日</th>
      </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
      　<td class="name-value">
          <%= link_to(book.name, "/folders/#{@folder.id}") %>
        </td>
        <td class="date-value"><%= book.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
