<h1>顧客詳細</h1>
<%= form_tag("/customers/#{@customer.id}/deleteCustomer", id: "deleteCustomer_#{@customer.id}") do %>
<% end %>

  <div class="customerInfoWrapper">
    <div class="customerInfomation">
      <p>名前</p>
      <p class="customerName"><%= @customer.name %></p>
      <p>TEL</p>
      <p class="customerTel"><%= @customer.tel %></p>
      <div class="buttonsMenu">
        <div class="editButton">
          <button  class = "edit" type="button" onclick="location.href='/customers/<%= @customer.id %>/edit'">編集<!--<img src="/assets/icons/edit.png">--></button>
        </div>
        <%= react_component("CustomerDelete", {name: @customer.name + " 様の情報全て", customerId: @customer.id})%>
      </div>
    </div>
    <div class="customersOrders">
      <p class="customerOrdersTitle">注文書籍一覧</p>
      <%= react_component("OrderPassed", {
        orders: @orders,
        orderBooks: @orderBooks,
        i_books: @i_books,
        p_books: @p_books
      }) %>
    </div>
  </div>
