<!DOCTYPE html>
<html>
  <head>
    <title>B-Stocker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="header-menu-wrapper">
      <div class="header-menu">
        <div class="B-Stocker">
          <a href="/menu">B-Stocker</a>
        </div>
        <div class="header-submenu-wrapper">
          <div class="header-submenu">
            <%= form_tag("/users/create", id: :createUser) do %>
            <% end %>
            <%= form_tag("/login", id: :login) do %>
            <% end %>
            <ul>
              <% if @checkedPassword %>
                <li><%= link_to("権限停止", "/users/#{@currentUser.id}/removePassOfPassword") %></li>
              <% end %>
              <% if @currentUser %>
                <li><%= link_to(@currentUser.name, "/users/#{@currentUser.id}")%></li>
                <li><%= link_to("ログアウト", "/logout", {method: :post}) %></li>
              <% else %>
                <li><%= react_component('Login', {name: 'ログイン'}) %></li>
                <li><%= react_component('CreateUser', {name:'新規登録'}) %></li>
              <% end %>
              <li><%= link_to("使い方", "/howto") %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= yield %>

  </body>
</html>
