<!DOCTYPE html>
<html>
  <head>
    <title>B-Stocker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="header-menu">
      <a href="/" class="B-Stocker">B-Stocker</a>
      <div class="header-submenu">
        <ul>
          <li><%= link_to("使い方", "/howto") %></li>
          <li><%= react_component('Login', {name: 'ログイン'}) %></li>
          <li><%= react_component('CreateUser', {name:'新規登録'}) %></li>
        </ul>
      </div>
    </div>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
